html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

/* fonts */

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/") format("woff2"),
		url("../fonts/BebasNeue-Regular.woff") format("woff"),
		url("../fonts/BebasNeue-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
		url("../fonts/Manrope-SemiBold.woff") format("woff"),
		url("../fonts/Manrope-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
		url("../fonts/Manrope-Bold.woff") format("woff"),
		url("../fonts/Manrope-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
		url("../fonts/Manrope-Regular.woff") format("woff"),
		url("../fonts/Manrope-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter 18pt";
	src: url("../fonts/Inter18pt-Medium.woff2") format("woff2"),
		url("../fonts/Inter18pt-Medium.woff") format("woff"),
		url("../fonts/Inter18pt-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
		url("../fonts/Roboto-Regular.woff") format("woff"),
		url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
		url("../fonts/Manrope-Medium.woff") format("woff"),
		url("../fonts/Manrope-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Manrope, sans-serif;
	font-size: 18px;
	line-height: 150%;
	background-color: #0a0a0a;
	color: #222;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1264px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN BUTTON */

.main-button-and-links-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
}
.main-button {
	/* width: 165px;
	height: 54px; */
	display: flex;
	align-items: center;
	gap: 25px;
	font-weight: bold;
	color: #0a0a0a;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 24px;
	background-color: #d3e97a;
	border-radius: 32px;
	border: 2px solid transparent;
	user-select: none;
	cursor: pointer;
}

.main-button:hover {
	border: 2px solid #d3e97a;
	background-color: transparent;
	color: #d3e97a;
}

.main-button:active {
	transform: translateY(2px);
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

/* SITE-HEADER */

.site-header__container {
	width: 100%;
	max-width: 1320px;
	padding: 24px 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0a0a0a;
}

.site-header__name {
	color: #c7c7c7;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Bebas Neue";
	line-height: 1.5;
	font-size: 32px;
}

.site-header__name:hover {
	opacity: 0.8;
}

.site-header__name:active {
	opacity: 0.6;
}

/* Site header toggler */

.site-header__toggler {
	display: none;
	padding: 0;
	width: 44px;
	height: 44px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.site-header__toggler-inner {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../images/icon-toggler.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.sitenav__list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.sitenav__item {
	position: relative;
}

.sitenav__item:not(:last-child) {
	margin-right: 32px;
}

.sitenav__link {
	display: block;
	text-decoration: none;
	font-family: "Inter 18pt";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -3%;
	color: #c7c7c7;
}

.sitenav__link:hover {
	opacity: 0.8;
}

.sitenav__link:active {
	opacity: 0.6;
	transform: translateY(2px);
}

/* HERO SECTION */

.hero {
	border-bottom: 1px solid #484848;
}

.hero__container {
	display: flex;
	align-items: center;
	gap: 80px;
	color: #c7c7c7;
	padding-top: 30px;
	padding-bottom: 80px;
}

.hero__content {
	width: 544px;
	padding-bottom: 22px;
}
.hero__title {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 90px;
	font-weight: 400;
	color: #fff;
	line-height: 90%;
	margin-top: 0;
	margin-bottom: 8px;
}
.hero__text {
	font-family: Manrope, sans-serif;
	font-size: 18px;
	line-height: 150%;
	margin-top: 0;
	margin-bottom: 40px;
}

.hero__actions--contact:hover .actions-contact-dot {
	background-color: #d3e97a;
}
.actions-contact-dot {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: #0a0a0a;
	border-radius: 50%;
}
.hero__actions--linkedin,
.hero__actions--github {
	display: block;
	color: #222;
}
.hero__actions--linkedin:hover,
.hero__actions--github:hover {
	color: #d3e97a;
}

.hero__actions--linkedin:hover svg path,
.hero__actions--github:hover svg path {
	fill: #222;
}
.hero__actions--linkedin:active,
.hero__actions--github:active {
	transform: translateY(2px);
}

.hero-image {
	display: block;
	width: 600px;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
}

/* PROJECTS */

.projects {
	padding: 80px 0;
	border-bottom: 1px solid #484848;
}
.projects-top {
	margin-bottom: 80px;
}
.projects-heading {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 76px;
	font-weight: 400;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 8px;
	color: #fff;
}
.projects-text {
	color: #c7c7c7;
	margin: 0;
}
.projects-list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #c7c7c7;
}
.projects-item {
	display: flex;
	gap: 48px;
	height: 600px;
}
.projects-item:not(:last-child) {
	margin-bottom: 120px;
}

.projects-item-image {
	width: 600px;
	height: 600px;
	padding: 126px 57px;
	border-radius: 12px;
	background-color: #1a1a1a;
	overflow: hidden;
}
.projects-item-img {
	display: block;
	width: 486px;
	height: 347px;
	border: 2px solid #000;
	border-radius: 12px;
	transition: transform 0.5s ease;
}

.projects-item-img:hover {
	transform: scale(1.02);
}
.projects-item-content {
	width: 576px;
	height: 600px;
	padding: 60px 0;
}

.card-content-title {
	font-size: 32px;
	line-height: 140%;
	font-weight: 500;
	color: #fff;
	margin-top: 0;
	margin-bottom: 16px;
}
.card-content-text {
	font-size: 18px;
	line-height: 150%;
	margin-top: 0;
	margin-bottom: 32px;
}
.card-content-info-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 48px;
}
.card-content-info-item {
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #484848;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.card-content-info-item:hover {
	background-color: #1a1a1a;
}
.content-info-title {
	padding-top: 0;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
}

.card-content-links {
	display: flex;
	gap: 24px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 150%;
}

.card-content-links-link {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #d3e97a;
	padding-bottom: 4px;
	text-decoration: none;
	border-bottom: 2px solid #d3e97a;
}

.card-content-links-link:hover {
	opacity: 0.8;
}

.card-content-links-link:active {
	opacity: 0.6;
}

.card-content-links-link:last-child::after {
	display: inline-block;
	width: 26px;
	height: 26px;
	content: "";
	background-image: url("../images/card/bxl-github.svg.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 4px;
}

.card-content-links-link:first-child::after {
	display: inline-block;
	width: 24px;
	height: 24px;
	content: "";
	background-image: url("../images/card/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 4px;
}

/* ABOUT ME */

.about-me {
	color: #fff;
	border-bottom: 1px solid #484848;
}

.about-me-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 122px 0 400px 0;
}
.about-me-heading {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 101px;
	font-weight: 400;
	line-height: 90%;
	margin: 0;
}
.about-me-info {
	width: 704px;
}
.about-me-info-title {
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
}
.about-me-info-text {
	margin-top: 0;
	margin-bottom: 53px;
	font-size: 18px;
	line-height: 150%;
}
.about-me-info-link {
	text-transform: uppercase;
	color: #d3e97a;
	padding-bottom: 4px;
	text-decoration: none;
	border-bottom: 2px solid #d3e97a;
}

.about-me-info-link:hover {
	opacity: 0.8;
}

.about-me-info-link:active {
	opacity: 0.8;
}

/* SITE FOOTER STYLES */

.site-footer {
	padding-top: 55px;
	padding-bottom: 80px;
}
.site-footer-container {
	display: flex;
	gap: 24px;
}
.site-footer-socials {
	width: 600px;
	display: flex;
	flex-direction: column;
}
.site-footer-socials-title {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 76px;
	line-height: 100%;
	font-weight: 400;
	color: #fff;
	margin-top: 0;
	margin-bottom: 16px;
}
.site-footer-socials-text {
	font-size: 18px;
	line-height: 150%;
	color: #c7c7c7;
}

.site-footer-socials-text a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #d3e97a;
}

.site-footer-socials-text a:hover {
	opacity: 0.8;
}

.site-footer-socials-text a:active {
	opacity: 0.6;
}

.site-footer-socials-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 24px;
	/* flex-grow: 1; */
}

.site-footer-socials-link {
	color: #d3e97a;
	display: flex;
	width: 32px;
	height: 32px;
}

.site-footer-socials-link:hover {
	opacity: 0.8;
}
.site-footer-socials-link:active {
	opacity: 0.6;
}
.site-footer-socials-bottom {
	font-size: 16px;
	line-height: 160%;
	color: #c7c7c7;
	margin-top: auto;
}
.site-footer-form-content {
	width: 600px;
}
.site-footer-form {
	display: flex;
	flex-direction: column;
}
.footer-form {
}
.footer-form-label {
	font-size: 16px;
	line-height: 160%;
	color: #c7c7c7;
	margin-bottom: 8px;
}
.footer-form-input {
	display: inline-block;
	border-radius: 4px;
	padding: 12px 16px;
	background-color: #1a1a1a;
	color: #fff;
	font-size: 18px;
	line-height: 150%;
	border: 1px solid transparent;
	margin-bottom: 24px;
	outline: none;
}

.footer-form-input:focus {
	border-color: #484848;
}

.site-footer-textarea {
	resize: none;
	height: 156px;
}

.footer-form-button {
	align-self: flex-start;
	cursor: pointer;
	padding: 19px 40px;
}

/* ABOUT ME */
.about-me-content-wrapper {
	padding-top: 160px;
	padding-bottom: 120px;
}
.about-me-image-wrapper {
	height: 700px;
	background-color: #c7c7c7;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	margin-bottom: 40px;
}

.about-me-img {
	display: block;
	width: 464px;
	/* height: 652px; */
}

/* Capabilities */

.capabilities {
	display: flex;
	gap: 24px;
	padding: 80px 0;
}
.capabilities-heading {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 76px;
	line-height: 100%;
	font-weight: 400;
	margin: 0;
	flex-grow: 1;
}
.capabilities-info {
	width: 600px;
	display: flex;
	flex-direction: column;
}
.capabilities-text {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 18px;
	line-height: 150%;
}
.capabilities-skills {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}
.capabilities-skills span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	line-height: 100%;
	border: 1px solid #484848;
	padding: 20px 40px;
	border-radius: 32px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
}

.capabilities-skills span:hover {
	background-color: #d3e97a;
	color: #000;
}

/* EXPERIENCE */

.experience {
	padding: 80px 0;
	color: #fff;
	border-bottom: 1px solid #484848;
}
.experience-wrapper {
	display: flex;
	gap: 24px;
}
.experience-heading {
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	font-size: 76px;
	line-height: 100%;
	font-weight: 400;
	margin: 0;
	width: 600px;
}

.experience-list {
	width: 600px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.experience-item:not(:last-child) {
	margin-bottom: 80px;
}
.experience-item-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
.experience-item-title-left {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 130%;
}
.experience-item-time {
	font-size: 18px;
	line-height: 150%;
	color: #c7c7c7;
}
.experience-item-text {
	font-size: 18px;
	line-height: 150%;
	color: #c7c7c7;
	margin: 0;
}

@media screen and (max-width: 400px) {
	.site-header__container {
		position: relative;
		max-width: 375px;
		padding: 24px 16px;
	}

	
.site-header__toggler {
	display: block;
}

	.sitenav {
		display: none;
		width: 50%;
	}

	.site-header--open .sitenav {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
	}

	.sitenav__list {
		flex-direction: column;
		background-color: #222;
		padding: 16px 0;
	}
	.sitenav__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 12px;
	}
	.sitenav__item {
		width: 100%;
		text-align: right;
		padding-right: 16px;
	}
}
